/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
gemfiles/*.lock

# rspec failure tracking
.rspec_status

# environment files
.datadog-agent.env

# Editors
/.vscode/

# ASDF version manager
.tool-versions
